/* uw-thinstrip */
.uw-thinstrip {
  .uw-patch {
    background: url(assets/png/logo.png) no-repeat 0 0 transparent;
    background-size: contain;
    transition: all 0.5s;
    &:hover,
    &:focus {
      background: url(assets/png/logo.png) no-repeat 0 0 transparent;
      background-size: contain;
      -ms-transform: rotateX(180deg); /* IE 9 */
      -webkit-transform: rotateX(180deg); /* Safari */
      transform: rotateX(180deg);
    }
  }
  .uw-wordmark {
    background: url(assets/png/wordmark.png) no-repeat 0 0 transparent;
    background-size: contain;
    top: 1px;
    left: 54px;
    width: 300px;
    height: 45px;
  }
  // breakpoint switch
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .uw-wordmark {
      background: url(assets/png/wordmark.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 360px;
      height: 75px;
      top: -10px;
      left: 120px;
    }
  }
  // breakpoint switch
  @media only screen and (min-width: 992px) {
    .uw-wordmark {
      background: url(assets/png/wordmark.png) no-repeat 0 0 transparent;
      background-size: contain;
      width: 390px;
      top: -10px;
      height: 70px;
      left: 120px;
      transform: none;
    }
  }
}
/* END uw-thinstrip */
/* uw-footer */
.uw-footer {
  background: url(assets/footer/footer.jpg) center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  .footer-wordmark,
  .footer-wordmark:focus,
  .footer-wordmark:hover  {
    background: url(assets/footer/full-logo.png) no-repeat 0px 0px transparent;
    height: 120px;
    background-size: 335px;
  }
}
/* END uw-footer */

/* campaign button */
a.uw-btn {
  &.btn-covid19campaign {
    font-size: 24px;
    padding: 18px 32px;
    background-color: @darkgold;
    color: @white;
    &:hover,
    &:focus {
      background-color: @ultralightgold;
      color: @darkgray;
    }
    &::before,
    &::after {
      content: none;
    }
  }
}
