/* uw-2014 style fixes */
.cards-widget {
  .enhanced-card {
    p {
      position: relative;
    }
  }
  .boundless-card {
    h3 {
      position: relative;
    }
    p {
      position: relative;
    }
  }
}
/* END uw-2014 style fixes */
