/*
Theme Name:   COVID-19 Prevention Trial
Theme URI:    https://bitbucket.org/uwdgh_elearn/covid-19-prevention-trial
Template:     uw-2014
Text Domain:  uwdgh
Author:       dghweb, Department of Global Health - University of Washington
Author URI:   https://depts.washington.edu/dghweb/
Description:  UW Boundless child-theme for the COVID-19 Prevention Trial.
Version:      0.4.6.5
Created on:   October 2, 2020
Updated on:   April 16, 2024
Document:     style
Bitbucket Theme URI: https://bitbucket.org/uwdgh_elearn/covid-19-prevention-trial
*/
/* uw-2014 style fixes */
.cards-widget .enhanced-card p {
  position: relative;
}
.cards-widget .boundless-card h3 {
  position: relative;
}
.cards-widget .boundless-card p {
  position: relative;
}
/* END uw-2014 style fixes */
/* uw-thinstrip */
.uw-thinstrip .uw-wordmark {
  background: url(assets/png/DeptGlobalHealth_DeptSigs-Stack-White.png) no-repeat 0 0 transparent;
  background-size: contain;
  top: 6px;
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-Left-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 335px;
    top: 9px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-UWLeft-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 360px;
    height: 60px;
    top: 8px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-UWStack-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 390px;
    top: -10px;
    height: 70px;
    left: 150px;
    transform: none;
  }
}
@media only screen and (min-width: 1440px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/DeptGlobalHealth_DeptSigs-UWLeft-White.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 450px;
    top: -2px;
    height: 70px;
  }
}
/* END uw-thinstrip */
/* dawgdrops class modifier */
.dawgdrops-item--gold a {
  color: #85754d;
}
.dawgdrops-item--gold a:hover,
.dawgdrops-item--gold a:focus {
  color: #4b2e83 !important;
}
/* END dawgdrops */
/* uw-footer */
.uw-footer .footer-wordmark,
.uw-footer .footer-wordmark:focus,
.uw-footer .footer-wordmark:hover {
  background: url(assets/footer/UW-DGH-logo-reversed-centered.png) no-repeat 0px 0px transparent;
  height: 100px;
  background-size: 335px;
}
/* END uw-footer */
/* uw-hero-slideshow */
.page-template-template-slideshow-hero .mobile-menu-wrapper {
  display: none;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .mobile-menu-wrapper {
    display: block;
    margin: 65px 20px -10px 20px;
  }
  .page-template-template-slideshow-hero .mobile-menu-wrapper #mobile-relative {
    margin-top: 0;
  }
  .page-template-template-slideshow-hero .mobile-menu-wrapper #mobile-relative ul.uw-mobile-menu {
    margin-bottom: 0px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height {
  margin-bottom: 40px;
  height: 410px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height {
    height: 350px;
    padding: 0;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow {
  height: 0;
}
@media only screen and (max-width: 767px) {
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow {
  margin-top: 0;
  height: 450px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow {
    height: 390px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide {
    justify-content: initial;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div {
  opacity: 0.9;
  padding-right: 45px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div {
    padding-bottom: 10px;
    padding-right: 90px;
    padding-top: 10px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div h3 a:hover,
.page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div h3 a:active {
  color: #b7a57a;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height .uw-hero-slideshow div.uw-slideshow div.slide div p {
    font-size: 80%;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg {
  margin-left: 60px;
  margin-right: 60px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg {
    margin-left: auto;
    position: absolute;
    top: 0;
    left: 15px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1 {
  padding-top: 40px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1 {
    padding-top: 40px;
    font-size: 45px;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1:after {
  height: 450px;
  opacity: 0.1;
  display: none;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1:after {
    height: 390px;
    opacity: 0.1;
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container h1 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height #hero-bg #hero-container .udub-slant {
    display: none;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider {
  height: 350px;
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider {
  max-height: 433px !important;
}
@media only screen and (max-width: 599px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider {
    height: 433px !important;
  }
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider div.slide div {
  background-color: #4b2e83;
  opacity: 0.9;
  display: initial;
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider .has-text::after {
  display: initial;
}
.page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider::after {
  bottom: 43px;
}
@media only screen and (max-width: 599px) {
  .page-template-template-slideshow-hero .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider::after {
    width: 200px;
  }
}
.page-template-template-slideshow-hero.activeFullscreen .uw-hero-image.hero-height.photo-slider .uw-hero-slideshow div.uw-slideshow.photo-slider {
  max-height: 100% !important;
}
@media only screen and (max-width: 767px) {
  .page-template-template-slideshow-hero .uw-content[role=main] {
    padding-top: 15px;
  }
}
/* END uw-hero-slideshow */
/* template-video-hero */
.page-template-template-video-hero .mobile-menu-wrapper {
  display: none;
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .mobile-menu-wrapper {
    display: block;
    margin: 65px 20px -10px 20px;
  }
  .page-template-template-video-hero .mobile-menu-wrapper #mobile-relative {
    margin-top: 0;
  }
  .page-template-template-video-hero .mobile-menu-wrapper #mobile-relative ul.uw-mobile-menu {
    margin-bottom: 0px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height {
  height: 480px;
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height {
    height: 640px;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height {
    padding: 0;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .uw-hero-video {
    height: 480px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height .uw-hero-video video {
  object-fit: cover;
  height: 480px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .uw-hero-video video {
    height: 640px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height .video-byline {
  color: #ffffff;
  font-family: "Encode Sans Compressed", sans-serif;
  font-size: 21px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
}
@media only screen and (max-width: 359px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .video-byline {
    line-height: 1.2;
  }
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .page-template-template-video-hero .uw-hero-image.hero-height .video-byline {
    line-height: 1.4;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-bg {
    top: -460px;
    padding: 0 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-bg {
    top: -530px;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-bg {
    top: -650px;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1 {
    font-size: 45px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1 {
    font-size: 60px;
  }
}
.page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
  height: 480px;
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
    height: 670px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
    height: 520px;
  }
}
@media only screen and (min-width: 992px) {
  .page-template-template-video-hero .uw-hero-image.hero-height #hero-container h1:after {
    height: 640px;
  }
}
@media only screen and (max-width: 767px) {
  .page-template-template-video-hero .uw-content[role=main] {
    padding-top: 15px;
  }
}
/* END template-video-hero */
/* uw-thinstrip */
.uw-thinstrip .uw-patch {
  background: url(assets/png/logo.png) no-repeat 0 0 transparent;
  background-size: contain;
  transition: all 0.5s;
}
.uw-thinstrip .uw-patch:hover,
.uw-thinstrip .uw-patch:focus {
  background: url(assets/png/logo.png) no-repeat 0 0 transparent;
  background-size: contain;
  -ms-transform: rotateX(180deg);
  /* IE 9 */
  -webkit-transform: rotateX(180deg);
  /* Safari */
  transform: rotateX(180deg);
}
.uw-thinstrip .uw-wordmark {
  background: url(assets/png/wordmark.png) no-repeat 0 0 transparent;
  background-size: contain;
  top: 1px;
  left: 54px;
  width: 300px;
  height: 45px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/wordmark.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 360px;
    height: 75px;
    top: -10px;
    left: 120px;
  }
}
@media only screen and (min-width: 992px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/png/wordmark.png) no-repeat 0 0 transparent;
    background-size: contain;
    width: 390px;
    top: -10px;
    height: 70px;
    left: 120px;
    transform: none;
  }
}
/* END uw-thinstrip */
/* uw-footer */
.uw-footer {
  background: url(assets/footer/footer.jpg) center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.uw-footer .footer-wordmark,
.uw-footer .footer-wordmark:focus,
.uw-footer .footer-wordmark:hover {
  background: url(assets/footer/full-logo.png) no-repeat 0px 0px transparent;
  height: 120px;
  background-size: 335px;
}
/* END uw-footer */
/* campaign button */
a.uw-btn.btn-covid19campaign {
  font-size: 24px;
  padding: 18px 32px;
  background-color: #85754d;
  color: #ffffff;
}
a.uw-btn.btn-covid19campaign:hover,
a.uw-btn.btn-covid19campaign:focus {
  background-color: #e8e3d3;
  color: #5A5A5A;
}
a.uw-btn.btn-covid19campaign::before,
a.uw-btn.btn-covid19campaign::after {
  content: none;
}
