/* override quicklinks */
#uw-container #quicklinks ul#little-links li:nth-child(n) {
  margin: 0;
  padding-left: 0;
}
#uw-container #quicklinks ul#little-links li:nth-child(n)::before {
  background: none; /* clear any background rules */
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  left: -15px;
  top: 13px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
  background-color: #85754d;
}
#uw-container #quicklinks ul#little-links li:nth-child(n)::after {
  display: none;
}