/* watermark */
.watermark {
  font-size: 8rem;
  opacity: 0.1;
  position: fixed;
  top: 224px;
  bottom: auto;
  text-transform: uppercase;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /*for IE*/
  z-index: 1; }
  @media screen and (min-width: 30em) and (max-width: 39.9375em) {
    .watermark {
      font-size: 10rem; }}
  @media screen and (min-width: 40em) and (max-width: 49.9375em) {
    .watermark {
      font-size: 12rem; }}
  @media screen and (min-width: 50em) and (max-width: 74.9375em) {
    .watermark {
      font-size: 16rem;  }}
  @media screen and (min-width: 75em) {
    .watermark {
      font-size: 20rem;  }}
/* ribbon */
.watermark.ribbon {
  z-index: 998;
  position: fixed;
  top: 0px;
  width: 192px;
  height: 192px;
  overflow: hidden;
  left: 0;
  opacity: 1; }
.watermark.ribbon.right {
  right: 0;
  left: auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
.watermark.ribbon > span {
  display: block;
  font: bold 16px Sans-Serif;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  position: relative;
  top: 20px;
  width: 192px;
  padding: 8px 0;
  background-color: #bfdc7a;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#bfdc7a),to(#95be32));
  background-image: -webkit-linear-gradient(top,#bfdc7a,#95be32);
  background-image: -moz-linear-gradient(top,#bfdc7a,#95be32);
  background-image: -ms-linear-gradient(top,#bfdc7a,#95be32);
  background-image: -o-linear-gradient(top,#bfdc7a,#95be32);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
/* end watermark */
